body{
    background-color: #f7ecde;
    height: 100vh;
}
.header h1{
    font-family: "Pacifico", cursive;
    color: 
    rgb(53, 46, 40);
    font-size: 50px ;
}
.header h1::before{
        content: "";
        position: absolute;
        width: 21%;
        height: 25%;
        bottom: 0%;
        right: 39.5%;

        background-color: #fec260;
        transition: height 350ms;
        z-index: -1;
        transition: 0.5s;
}
.header h1:hover::before{
        content: "";
        position: absolute;
        width: 21%;
        height: 65%;
        right: 39.5%;
        bottom: 0%;
        background-color: #fec260;
        z-index: -1;
}
.test{
    border-top: dotted black 2px ;

}
.test1{
    border-bottom: dotted black 2px ;

}
.test h4 span{
font-family: "Righteous", sans-serif;
font-size: 25px;
}
 h4 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #165428, #ebda22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
